@font-face {
  font-family: "AleoRegular";
  font-style: normal;
  font-weight: normal;
  src: local("AleoRegular"), url("AleoRegular.woff") format("woff");
}

@font-face {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: normal;
  src: local("GothamBold"), url("GothamBold.woff") format("woff");
}

@font-face {
  font-family: "GothamBook";
  font-style: normal;
  font-weight: normal;
  src: local("GothamBook"), url("GothamBook.woff") format("woff");
}

.font_aleo {
  font-family: "AleoRegular";
}

.font_g_bold {
  font-family: "GothamBold";
}

.font_g_book {
  font-family: "GothamBook";
}
