body {
  max-width: 1920px !important;
  margin: 0 auto !important;
  background-color: #f3f3f3;
  font-family: "AleoRegular";
}
i {
  font-size: 24px;
}

.common_button {
  padding: 13px 29px;
  text-transform: capitalize;
  border-radius: 3px;
  font-family: "GothamBold";
}

.sub_title {
  font-size: 27px;
  font-family: "GothamBold";
}

.title {
  font-size: 80px;
  font-family: "GothamBold";
  line-height: 1.11;
  /* font-weight: 600; */
}

/* header */
.announcement p {
  margin: 0;
  overflow: hidden;
}

.announcement p span {
  color: #fff;
  display: inline-block;
  display: none;
}

.announcement p span.text-in {
  display: block;
  animation: textIn 0.3s ease-in-out;
}
.announcement p span.text-out {
  animation: textOut 0.3s ease-in-out;
}
@keyframes textIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes textOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Navigator */

ul.main_menu li {
  display: inline-block;
  margin-right: 60px;
}

.sticky_nvabar {
  transition: all 0.3s ease-in-out;
  position: fixed !important;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 6px #5c5c5cab;
}

.sticky_nvabar + .content {
  padding-top: 105px;
}

/* Footer */
.footer {
  background: url("./../images/grey_footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.policy_menu ul li {
  display: inline-block;
}
.policy_menu ul :not(:last-child):after {
  background-color: #b4b4b4;
  content: "";
  display: inline-block;
  height: 12px;
  margin: 0 15px;
  vertical-align: middle;
  width: 1px;
}

/* About Nomad */
.about_image::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
